@model IEnumerable<Breeder_OnMVC.Models.Breeder>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Справочник Селекционера</h1>

<p>    
    <a asp-action="Create">
        <input type="submit" value="Добавить" class="btn btn-success" />
    </a>
</p>

<form asp-controller="Breeders" asp-action="Index">
    <p>       
        <div class="form-group">
            <input type="text" name="SearchString">
            <input type="submit" value="Искать" class="btn btn-primary" />
        </div>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Name), "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Author), "Index", new { sortOrder = ViewBag.AuthorSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.ParentVarieties), "Index", new { sortOrder = ViewBag.ParentVarietiesSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Productivity), "Index", new { sortOrder = ViewBag.ProductivitySortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Characteristic), "Index", new { sortOrder = ViewBag.CharacteristicSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.FrostResistance), "Index", new { sortOrder = ViewBag.FrostResistanceSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.DiseaseResistance), "Index", new { sortOrder = ViewBag.DiseaseResistanceSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Funds), "Index", new { sortOrder = ViewBag.FundsSortParm })              
            </th>
            <th></th>
        </tr>
    </thead>
  

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentVarieties)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productivity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Characteristic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FrostResistance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiseaseResistance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funds)
                    </td>
                    <td>
                        <div class="marginbtn">
                            <a asp-action="Edit" asp-route-id="@item.Id"><input type="submit" value="Изменить" class="btn btn-success" /> </a>
                        </div>
                        <div class="marginbtn">
                            <a asp-action="Details" asp-route-id="@item.Id"><input type="submit" value="Детали" class="btn btn-info" /> </a>
                        </div>
                        <div class="marginbtn">
                            <a asp-action="Delete" asp-route-id="@item.Id"><input type="submit" value="Удалить" class="btn btn-danger" /> </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>